#contacts_info{
    padding: 140px 146px;
    height: 580px;
}

.contact_text h2{
    color:#5B6460;
    font-size: 50px;
    font-weight: 200;
}



.soc{
    background-color: #5B6460;
    color:#E9ECE0;
    padding: 8px 8px;
    border-radius: 30px;
   
}

.contact_text p{
    color:#5B6460;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 0 !important;
}

#button_styles_blok_contact{
    background-color: #5B6460;
    padding: 26px 91px;
    font-size: 15px;
    border-radius: 0 !important;
    color:white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    
}

#button_info_blok_contact{
    background-color: #E9ECE0;
    padding: 12.2px 30px 13px 30.3px;
    border:none;
    border-radius: 0 !important;
}

#button_info_blok_contact p{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    color:rgb(0, 0, 0);
    margin-bottom: 0;
}

#button_info_blok_contact h4{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(0, 0, 0);
    margin-bottom: 0;
}