#map .container{
    padding: 100px 146px;

}

.im_move{
    padding-left: 95px;
}

.text_st{
    font-size: 40px;
    font-style: italic;
    color:#5B6460;
    font-weight:400;
}

.te_moving{
    padding: 120px 0px 0 50px;
    width: 424px;
}