.alert-fixed { 
    position:fixed;  
    top: 0px;  
    left: 0px;  
    width: 375px; 
    z-index:10;  
    border-radius:0px 
}

.navbar .styles{
    text-transform: uppercase;
    // font-family: "DIN Pro", sans-serif;
    font-weight: 500;
    font-size: 13px;
}

#width_menu{
    
    border:none !important;
    background-color: transparent !important;
  
    top: 22px;
}

#button_styles{
    background-color: #5B6460;
    padding: 16px 40px;
    border:none;
    border-radius: 0 !important;
    color:white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
}